article.tweeters {
  display: flex;
  flex-direction: column;
  margin-bottom: 1em;
  border: 2px dashed palevioletred;
  background-color: #f5f5f5;
  height: 50%;
  border-radius: 5px;
  box-shadow: 2px 2px 2px 2px grey;
}
#new-tweet-box {
  display: flex;
  flex-direction: column;
  width: 75%;
  border-radius: 10px;
  margin-top: 5px;
}
/* .tweeters:hover {
  background-color: #db7093; */
/* } */
#top-of-tweet-box {
  display: flex;
  /* flex-direction: column; */
  align-items: space-between;
  border-bottom: 2px palevioletred dashed;
  height: 3em;
  width: 100%;
}
div.user-container {
  display: flex;
  flex-direction: row;
  width: 83%;
}

h3.userName {
  color: black;
  font-size: 20px;
  display: block;
}

img.userAvatar {
  border-radius: 5px;
  height: 45px;
}
a.user-handle {
  color: palevioletred;
  font-size: 20px;
}

p {
  color: black;
  font-size: 25px;
  overflow-wrap: normal;
  padding-left: 1em;
}

footer.new-tweet-footer {
  display: flex;
  justify-content: space-between;
  border-top: 2px dashed palevioletred;
  height: 2em;
  flex-direction: row;
}

div.tweet-timestamp {
  font-size: 18px;
  margin-top: 10px;
}

i {
  color: palevioletred;
  font-size: 15px;
  padding-right: 10px;
}
